@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$font-family:'Poppins', sans-serif;
$bg-color:#ECEAE4;
$secondary-bg-color: #ffffff;
$primary-color:#55CBCD;
$font-color: #202124;
$secondary-font-color:#A2E1DB;
$shadow-color: rgba(0,0,0,0.5);
