.comments{
    box-shadow: 1px 1px 8px $shadow-color;
    @include styleBox(15px,20px,$secondary-bg-color,none,15px);
    form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        input[type="text"] {
            @include styleInput();
            transition: all 0.3s ease-in-out;
            &:focus{
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                border-bottom: 2px solid $primary-color;
            }
        }

        textarea{
            @include styleInput();
            resize: none;
            transition: all 0.3s ease-in-out;
            &:focus{
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                border-bottom: 2px solid $primary-color;
            }
        }
        input[type="submit"]{
            @include styleButton(8px 10px,0);
            width: 50%;
            align-self: center;
            transition: all 0.3s ease-in-out;
            &:hover{
                @include hoverEffect($primary-color,$font-color,pointer,$font-color);
            }
        }
    }
}

.comments-list{
    @include styleBox(15px,10px,transparent,none,none);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    max-width: 500px;
    max-height: 380px;
    box-sizing: border-box;
    .comment{
        @include styleBox(0,10px,$secondary-bg-color,none,10px);
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        h4{
            margin: 0;
            @include styleText($font-color,medium,700)
        }
        p{
            margin: 0;
            @include styleText($font-color,small,400);
        }

        .comment-footer{
            display: flex;
            justify-content: space-between;

            .actions-btns{
                display: flex;
                gap: 5px;
                button{
                    margin: 0 5px;
                    @include styleText($font-color,11px,400);
                    @include styleButton(2px 5px,0);

                    &:hover{
                        @include hoverEffect($font-color,none,pointer,$shadow-color)
                    }
                }
                .btn-delete{
                    background-color: tomato;   
                }
            }
            span{
                @include styleText($font-color,x-small,300);
                align-self: flex-end;
            }

        

        }


        &:hover{
            @include hoverEffect($font-color,$secondary-bg-color,default,$shadow-color)
        }
    }
}