.search-bar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    @include styleBox(20px 0 0 0,0,transparent,none,none);
    
    div.searching-focus{
        @include hoverEffect($font-color,$primary-color,default,$shadow-color);
    }

    div{
        display: flex;
        height: 30px;
        width: 40%;
        @include styleBox(0,3px 5px,transparent,1px solid $primary-color,10px);
        transition: all 0.3s ease-in-out;
        &:hover{
            @include hoverEffect($font-color,$primary-color,default,$shadow-color);
        }

        label{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 30px;
                height: 30px;
            }
        }
        input{
            outline: none;
            border: none;
            width: 100%;
            background-color: transparent;
            @include styleText($font-color,medium,300);
            &::placeholder{
                color: $font-color;
            }
        }
    }
}

.fetch-api{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    @include styleBox(0 0 30px 0, 20px,transparent,none,none);
    .photoItem{
        box-sizing: border-box;
        overflow: hidden;
        width: 400px;
        height: 200px;
        padding: 0;
        display: flex;
        @include styleBox(0,0,$secondary-bg-color,none,10px);
        transition: all 0.3s ease-in-out;
        &:hover{
            @include hoverEffect($font-color,$secondary-bg-color,pointer,$shadow-color);
        }

        img{
            object-fit: cover;
            max-width: 300px;
            max-width: 200px;
            height: 100%;
            width: 100%;
        }
        .photoItem-info{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            @include styleBox(0,10px,transparent,none,none);
            box-sizing:border-box;
            h3{
                @include styleText($font-color,large,500);
                margin: 0;
            }
            p{
                @include styleText($font-color,medium,300);
                padding: 0;
                margin: 0;
            }

            .img-like{
                width: 15px;
                height: 15px;
            }
            span{
                @include styleText($font-color,small,300);
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

    }
}